body {background-color: rgb(240, 243, 237);}

h1 {
    color: rgb(0,0,0); 
    text-align: center;
    font-family: "Palatino", monospace;
    font-size:xx-large;
    margin: 25px 50px 25px 50px;  /* Top right bottom left*/
}

h2 {
    color: rgb(0,0,0); 
    text-align: center;
    font-family: "Times", monospace;
    font-size:large;
    margin: 25px 50px 25px 50px;
}

p  {
    color: rgb(10,10,10);
    font-family: "Times", monospace;
    font-size:large;
    margin: 25px 50px 25px 50px;
}

table {
    margin: 0 auto;
}